<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\Hibit.Api.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\stdout"
                  hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_PATHBASE" value="/API" />
          <environmentVariable name="CORS_ORIGINS" value="https://hibit.com.br,https://www.hibit.com.br" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=mysql.hibit.com.br;Port=3306;Database=hibit;User=hibit;Password=fQQuKsrKk1gaQPz4Sexd;" />
          <environmentVariable name="RabbitMQ__Host" value="rabbit.hibit.com.br" />
          <environmentVariable name="RabbitMQ__Port" value="5672" />
          <environmentVariable name="RabbitMQ__User" value="admin" />
          <environmentVariable name="RabbitMQ__Password" value="V1@d@1v3s" />
          <environmentVariable name="RabbitMQ__Queue" value="hibit.contact" />
          <environmentVariable name="RabbitMQ__VirtualHost" value="/" />
          <environmentVariable name="Jwt__Secret" value="fDGMHQdL3F0wglJSkmpayBbqOThR2UKYc91N4rsZ6voXViE7" />
          <environmentVariable name="Jwt__Issuer" value="Hibit.Api" />
          <environmentVariable name="Jwt__Audience" value="Hibit.Web" />
          <environmentVariable name="Jwt__ExpirationMinutes" value="60" />
          <environmentVariable name="AppUser__Username" value="hibit-app" />
          <environmentVariable name="AppUser__Password" value="hibit-app-2026" />
          <environmentVariable name="Encryption__Key" value="tW5U0UsCG09QN4tQ72oRGGGMSRR0V2SBBrE67MNoP2A=" />
          <environmentVariable name="Encryption__Iv" value="o8V7jZqF2tNU+xLsM3vaNQ==" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>